# Ignore all files
*

# Except for the following
!.github
!.github/**/*
!.husky
!.husky/**/*
!public
!public/**/*
!src
!src/**/*
!.dockerignore
!.gitignore
!.lintstagedrc
!.nvmrc
!.prettierrc
!commitlint.config.mjs
!components.json
!Dockerfile
!eslint.config.mjs
!LICENSE
!next-env.d.ts
!next.config.ts
!package-lock.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!postcss.config.mjs
!tsconfig.json
