# Ignore all files
*

# Except for the following
!.github/
!.github/**
!public/
!public/**
!src/
!src/**
!.dockerignore
!.gitignore
!.nvmrc
!components.json
!Dockerfile
!eslint.config.mjs
!LICENSE
!next-env.d.ts
!next.config.ts
!package-lock.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!postcss.config.mjs
!tsconfig.json
